@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/PreparedShipment.css">

    @await Html.PartialAsync("_ShipmentPlanTabs")
    <div class="card">
        <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th rowspan="2" class="align-middle fs-2">Wk 6</th>
                    <th rowspan="2" class="align-middle fs-2"></th>
                    <th rowspan="2" class="align-middle fs-2">Today Shipment</th>
                    <th colspan="2" class="fs-3"><center> Next Shipment</center></th>
                </tr>
                <tr>
                    <th class="p-8"> <center> When </center></th>
                    <th class="p-8"> <center> Boxes </center></th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Wolves - 3PL</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>Friday</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Wolves - Navs</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>SOA</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>Friday</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Vernon</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>CTG</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Bedok</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Bangalore</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>RLC</td>
                    <td>
                        <i class="bi bi-arrow-right-circle"></i>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        </div>
    </div>
