@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/PreparedShipment.css">

@await Html.PartialAsync("_ShipmentPlanTabs")
<div class="card">
    <div class="card-body">
        <h4 class="mb-3">Shipment Plan Summary - Week <span id="currentWeek"></span></h4>
        <table class="table table-striped" id="shipmentTable">
            <thead>
                <tr>
                    <th rowspan="2" class="align-middle fs-5">Destination</th>
                    <th rowspan="2" class="align-middle fs-5"></th>
                    <th rowspan="2" class="align-middle fs-5">Today Shipment</th>
                    <th colspan="2" class="text-center fs-6">Next Shipment</th>
                </tr>
                <tr>
                    <th class="text-center">When</th>
                    <th class="text-center">Boxes</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Shipment/Schedule',
                method: 'GET',
                success: function (res) {
                    $('#currentWeek').text(res.currentWeek);

                    const tbody = $('#shipmentTable tbody');
                    tbody.empty();

                    res.summary.forEach(row => {
                        const rowHtml = `
                            <tr>
                                <td>${row.destination}</td>
                                <td><i class="bi bi-arrow-right-circle"></i></td>
                                <td>${row.todayBox}</td>
                                <td>${row.nextDay}</td>
                                <td>${row.nextBox}</td>
                            </tr>
                        `;
                        tbody.append(rowHtml);
                    });
                },
                error: function () {
                    alert('Failed to load shipment data.');
                }
            });
        });
    </script>
}