@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@await Html.PartialAsync("_ShipmentCompletionTabs")
<link rel="stylesheet" href="~/css/Shipment.css">


<div class="card">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card m-2">
                <div class="card-body p-2">
                    <div class="row">
                        <h6>Upload Invoice #</h6>
                        <div class="col-md-12 d-flex align-items-center">
                            <button class="btn btn-secondary me-2">Update Invoice List#</button>
                            <button class="btn btn-secondary me-2">Update Invoice #</button>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card m-2">
                <div class="card-body p-2">
                    <div class="row">
                        <h6>Upload PEB</h6>
                        <div class="col-md-12 d-flex align-items-center">
                            <button class="btn btn-secondary me-2">Upload PEB</button>
                            <button class="btn btn-secondary me-2">Update PEB</button>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>